<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>TeamLab Ex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <link rel="stylesheet" href="css/main.css" />

</head>
<body>
  <div class="container mycontainer">
  <h2>HELLO WORLD!</h2>
  <a href="#" class="button is-primary">Hello</a>
</div>
</body>
</html>
