<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>TeamLab Ex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <link rel="stylesheet" href="css/main.css" />

</head>
<body>
  <div class="container mycontainer">
    <h2 class="title is-2">チャットアプリ</h2>




    <div class="chat chat-u">
      ばfhdさkljhfdsかhfけうぁkfへわkjfへwかjhfdskじゃfhdさ
    </div>
    <div class="chat chat-f">
      ばfhdさkljhfdsかhfけうぁkfへわkjfへwかjhfdskじゃfhdさ
    </div>
  </div>
</body>
</html>
